/*    --text-gray: #3f4954;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --midnight: #104f55;*/

body{
    background-color: #0f0f0f;
}

::placeholder{
    font-size: 1rem;
}
.heading{
    text-align: center;
    justify-content: center;
    color: cornflowerblue;
}
.main{
    justify-content: center;
    margin: 6rem 35rem;
    text-align: center;
}


h1{
    font-size: 2.4rem;

}
.inp{
    height: 3rem;
    width: 25rem;
    padding: 0rem;
    margin-bottom: 15px;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-size: 1.4rem;
    cursor: pointer;

}
.main .btn:hover{
    background-color: transparent;
    border: 1px solid white;
    color: white;


}

